<input type="hidden" id = "SelectedMarket"  value="US" />


            <input type="hidden" id = "ChangeReviewPageActionUrl"  value="/StorePortals/en-US/Analytics/ChangeReviewPage" />


            <input type="hidden" id = "ApplicationID"  value="67f69611-1823-4e48-9974-c836c5b7a424" />


             <div class="ReviewHead">


                <div class="Title">Reviews</div>


            


           


            <div class="YaxisTitle">


            3 Reviews


                    


            </div>





            <div class="ReviewList">


                


<div class="Review">


    <div class="ReviewTitle">


        <div class="Rating">


            <span class="ReviewerHandle" >Cesar </span><img src="/StorePortals/content/starrating_4.png?q=79e766c1" alt="2" />


        </div>


        <span class="TimeClass">2/20/2013 5:17 PM</span>


    </div>


    <div class= "ReviewCommentTitle">Barely work </div>


    <div class= "ReviewComment">I can't seem to add &quot;Documents&quot; to my favorites and it crashes when I do so. It just seems too buggy to be useful. Would have preferred to try before I buy... </div>


</div>





<div class="Review">


    <div class="ReviewTitle">


        <div class="Rating">


            <span class="ReviewerHandle" > </span><img src="/StorePortals/content/starrating_10.png?q=c2702672" alt="5" />


        </div>


        <span class="TimeClass">2/20/2013 12:59 PM</span>


    </div>


    <div class= "ReviewCommentTitle">Great App </div>


    <div class= "ReviewComment">This app is the closest to the actual file explorer. I love the idea. It's great to add any folder to the top screen.  Sorting files are useful as well. Good work so far! </div>


</div>





<div class="Review">


    <div class="ReviewTitle">


        <div class="Rating">


            <span class="ReviewerHandle" >Steve </span><img src="/StorePortals/content/starrating_2.png?q=1802e88f" alt="1" />


        </div>


        <span class="TimeClass">2/15/2013 4:16 AM</span>


    </div>


    <div class= "ReviewCommentTitle">Terrible </div>


    <div class= "ReviewComment">Very, very limited in scope, especially for a paid app. Only shows my computer video, music and picture files, and simply omits any other directories at the top level in the my computer folder on the computer.  This should be able to sort and organize all your docs in my computer, such as office files, notes etc. </div>


</div>





            </div>


            <div class="Pagination">


                <span class="pageButton">


                Previous


                


                </span>


                <span class="PageInfo">                


                    1 of 1 page(s)</span>


                    <span class="pageButton">


                Next


                


                    </span>


            </div>


            


         </div>